<template>
    <div class="column is-one-third" @click="$emit('click', tweet)">
        <article class="card">
            <div class="card-content">
                <div class="media">
                    <figure class="media-left">
                        <router-link
                            v-if="tweet.author.avatar"
                            class="image is-48x48 is-square"
                            :to="{ name: 'user-page', params: { id: tweet.author.id } }"
                        >
                            <img class="is-rounded fit" :src="tweet.author.avatar" alt="Author avatar">
                        </router-link>
                        <router-link v-else :to="{ name: 'user-page', params: { id: tweet.author.id } }">
                            <DefaultAvatar class="image is-64x64" :user="tweet.author" />
                        </router-link>
                    </figure>
                    <div class="media-content">
                        <small class="created">{{ tweet.created | createdDate }}</small>
                        <p class="title is-4">{{ tweet.author.firstName }} {{ tweet.author.lastName }}</p>
                        <p class="subtitle is-6">@{{ tweet.author.nickname }}</p>
                    </div>
                </div>
                <div class="content">
                    {{ tweet.text }}
                    <div class="card-image">
                        <figure
                            v-if="tweet.imageUrl"
                            class="image is-4by3"
                        >
                            <img :src="tweet.imageUrl" alt="Tweet image">
                        </figure>
                    </div>
                </div>
            </div>
            <footer class="card-footer">
                <p class="card-footer-item">
                    <a class="level-item auto-cursor">
                        <span class="icon is-medium has-text-info">
                            <font-awesome-icon icon="comments" />
                        </span>
                        {{ tweet.commentsCount }}
                    </a>
                </p>
                <p class="card-footer-item">
                    <a class="level-item auto-cursor">
                        <span class="icon is-medium has-text-info">
                            <font-awesome-icon icon="heart" />
                        </span>
                        {{ tweet.likesCount }}
                    </a>
                </p>
            </footer>
        </article>
    </div>
</template>

<script>
import DefaultAvatar from './DefaultAvatar.vue';

export default {
    name: 'TweetPreviewCard',

    components: {
        DefaultAvatar,
    },

    props: {
        tweet: {
            type: Object,
            required: true,
        },
    },
};
</script>

<style lang="scss" scoped>
@import '../../styles/common';

.card {
    cursor: pointer;
    border-radius: 5px;
    transition: 0.2s ease-out all;

    &-image {
        margin: 12px 0 0 0;

        img {
            width: auto;
        }
    }

    .nickname {
        margin-left: 5px;
    }

    .created {
        margin-left: 5px;
    }
}
</style>
