<template>
    <div class="tweets-container">
<!--media-->
        <transition-group
            v-if="viewTweet === 'media'"
            name="slide-prev"
            tag="div"
        >
            <template v-for="tweet in tweets">
                <TweetPreviewMedia
                    :key="tweet.id"
                    :tweet="tweet"
                    @click="onTweetClick"
                />
            </template>
        </transition-group>
<!--card-->
        <transition-group
            class="columns is-multiline is-mobile"
            v-if="viewTweet === 'card'"
            name="slide-prev"
            tag="div"
        >
            <template v-for="tweet in tweets">
                <TweetPreviewCard
                    :key="tweet.id"
                    :tweet="tweet"
                    @click="onTweetClick"
                />
            </template>
        </transition-group>

        <infinite-loading @infinite="infiniteHandler">
            <div slot="no-more" />
            <div slot="no-results" />
            <div slot="spinner" />
        </infinite-loading>
    </div>
</template>

<script>
import InfiniteLoading from 'vue-infinite-loading';
import TweetPreviewMedia from './TweetPreviewMedia.vue';
import TweetPreviewCard from './TweetPreviewCard.vue';

export default {
    name: 'TweetPreviewList',

    props: {
        tweets: {
            type: Array,
            required: true
        },
        viewTweet: String,
    },

    components: {
        TweetPreviewMedia,
        TweetPreviewCard,
        InfiniteLoading,
    },

    methods: {
        onTweetClick(tweet) {
            this.$router.push({ name: 'tweet-page', params: { id: tweet.id } });
        },

        infiniteHandler($state) {
            this.$emit('infinite', $state);
        },
    },
};
</script>

<style scoped lang="scss">
.tweets-container {
    padding-bottom: 20px;
}
</style>
