<template>
    <div class="feed-container">
        <div class="navigation columns">
            <div class="column">
                <b-button
                    class="btn-add-tweet"
                    rounded
                    size="is-medium"
                    type="is-danger"
                    icon-left="twitter"
                    icon-pack="fab"
                    @click="onAddTweetClick"
                >
                    Tweet :)
                </b-button>
            </div>
            <div class="column is-narrow is-12-mobile">
                <b-button
                    :class="{'btn-view-select': viewTweet === 'media'}"
                    rounded
                    size="is-medium"
                    type="is-light"
                    icon-pack="fas"
                    icon-left="th"
                    :disabled="viewTweet === 'card'"
                    @click="setViewTweet('card')"
                ></b-button>
                <b-button
                    :class="{'btn-view-select': viewTweet === 'card'}"
                    rounded
                    size="is-medium"
                    type="is-light"
                    icon-pack="fas"
                    icon-left="th-list"
                    :disabled="viewTweet === 'media'"
                    @click="setViewTweet('media')"
                ></b-button>
            </div>
        </div>

        <TweetPreviewList :tweets="tweets" :viewTweet="viewTweet" @infinite="infiniteHandler" />

        <b-modal :active.sync="isNewTweetModalActive" has-modal-card>
            <NewTweetForm />
        </b-modal>
    </div>
</template>

<script>
import { mapGetters, mapActions } from 'vuex';
import TweetPreviewList from '../../common/TweetPreviewList.vue';
import NewTweetForm from './NewTweetForm.vue';
import { pusher } from '@/services/Pusher';
import { SET_TWEET } from '@/store/modules/tweet/mutationTypes';
import showStatusToast from '@/components/mixin/showStatusToast';
import Storage from '@/services/Storage';

export default {
    name: 'FeedContainer',

    mixins: [showStatusToast],

    components: {
        TweetPreviewList,
        NewTweetForm,
    },

    data: () => ({
        isNewTweetModalActive: false,
        page: 1,
        viewTweet: '',
    }),

    async created() {
        try {
            await this.fetchTweets({
                page: 1
            });
        } catch (error) {
            this.showErrorMessage(error.message);
        }

        this.viewTweet = Storage.get('viewMode');
        if (this.viewTweet !== 'media' && this.viewTweet !== 'card') {
            this.setViewTweet('media');
        }

        const channel = pusher.subscribe('private-tweets');

        channel.bind('tweet.added', (data) => {
            this.$store.commit(`tweet/${SET_TWEET}`, data.tweet);
        });
    },

    beforeDestroy() {
        pusher.unsubscribe('private-tweets');
    },

    computed: {
        ...mapGetters('tweet', {
            tweets: 'tweetsSortedByCreatedDate'
        }),
    },

    methods: {
        ...mapActions('tweet', [
            'fetchTweets',
        ]),
        // ...mapGetters('tweet', {
        //     tweets: 'tweetsSortedByCreatedDate'
        // }),

        setViewTweet(str) {
            this.viewTweet = str;
            Storage.set('viewMode', this.viewTweet);
        },

        onAddTweetClick() {
            this.showAddTweetModal();
        },

        showAddTweetModal() {
            this.isNewTweetModalActive = true;
        },

        async infiniteHandler($state) {
            try {
                const tweets = await this.fetchTweets({ page: this.page + 1 });

                if (tweets.length) {
                    this.page += 1;
                    $state.loaded();
                } else {
                    $state.complete();
                }
            } catch (error) {
                this.showErrorMessage(error.message);
                $state.complete();
            }
        },
    },
};
</script>

<style scoped lang="scss">
@import '~bulma/sass/utilities/initial-variables';

.navigation {
    padding: 10px 0;
    margin-bottom: 20px;
}

.modal-card {
    border-radius: 6px;
}

.btn-view-select {
    color: #afafaf;
}
.button.is-light[disabled] {
    color: #000
}

.btn-add-tweet {
    transition: 0.2s ease-out all;
    box-shadow: 1px 5px 5px 0 #00000020;

    &:hover {
        box-shadow: 1px 1px 0 0 #00000020;
    }

    @media screen and (max-width: $tablet) {
        font-size: 1rem;
    }
}
</style>
